services:
  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --app-dir /app
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    environment:
      - PYTHONPATH=/
      - REDIS_URL=redis://redis:6379/0
    env_file:
      - ./.env
    depends_on:
      - db
      - redis

  db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  redis:
    image: redis:6.2-alpine

  worker:
    build: .
    command: celery -A app.celery_worker.celery worker --loglevel=info
    volumes:
      - ./app:/app
    environment:
      - PYTHONPATH=/
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
      - db

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db

volumes:
  postgres_data:
